.txt {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50ch;
    color: #ffffff;
    max-inline-size: 50ch;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    border-color: #ffffff;
    background-color: #121212;
}

.ltr {
    width: 2ch;
}

.inp {
    /* stop overflowing text */
    font-family: verdana;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50ch;
    color: #ffffff;
    max-inline-size: 50ch;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    border-color: #ffffff;
    background-color: #121212;
}

button {
    color: black;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    border: none;
}

button:active {
    background-color: #858383;
}

select {
    color: black;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

html {
    font-family: verdana;
    font-size: 15px;
    background-color: #121212;
    color: #ffffff;
}